body {
    background-color: lightgray;
}

.carousel {
    margin-top: 32px;
    background-color: white;
}

.carousel-inner .carousel-item img {
    width: 300px;
    height: 300px;
    margin-bottom: 16px;
}

.carousel-fade .carousel-item {
    display: flex;
    justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
    background-color: lightgray;
}

.grid {
    margin: 32px 0;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 1%;
    justify-content: space-between;
    width: 100%;
}

.card > img {
    width: 100%;
    border-radius: 6px;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        width: 90%;
    }

    .img-grid {
        grid-template-columns: repeat(2, 48%);
        row-gap: 16px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 90%;
    }

    .img-grid{
        grid-template-columns: 100%;
    }
}